.film-card {
    width: 1100px;
    margin-top: 70px;
    background-color: rgba(128, 128, 128, 0.295);
    border-radius: 20px;
    height: 550px;
    position: relative;
}

.film-card h1 {
    text-align: center;
    margin: 20px 0;
    color: white;
}

.film-card .container {
    display: flex;
    width: 100%;
}

.film-card .container .card-film-img {
    width: 60%;
    margin: 20px;
}

.film-card .container .card-film-img img {
    width: 650px;
    display: flex;
    justify-content: center;
}


.film-card .container .film-info-sinopse {
    width: 40%;
    max-width: 380px;
    max-height: 450px;
    height: 380px;
    position: relative;
}

.film-card .close {
  position: absolute;
  right: 0;
  margin: 15px;
  color: #fff;
}

.film-card .container .film-info-sinopse h3 {
    text-align: center;
    color: white;
    margin: 10px 0px 30px 0px;
}

.film-card .container .film-info-sinopse .text-sinopse {
    font-size: 15px;
    margin-top: 10px;
    text-align: justify;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.film-info-sinopse .area-button {
    margin-top: 80px;
    position: absolute;
    bottom: 0;
}

.film-info-sinopse .area-button button {
    border: none;
    width: 60px;
    height: 35px;
    background-color: #e32636;
    color: white;
    border-radius: 8px;
    margin-right: 15px;
    cursor: pointer;
    font-weight: bold;
}

.film-info-sinopse .area-button button a {
    text-decoration: none;
    color: white;
}

.film-info-sinopse .area-button button:hover, .close:hover {
    opacity: 0.5;
}