@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.container {
    
    width: 1200px;
    justify-content: center;
    align-items: center;
}

.input-header {
    justify-content: center;
    display: flex;
    width: 1200px;
}

.input-header input {
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 30px;
    border-radius: 8px;
    border: none;
    padding-left: 35px;
    margin: 100px 0px 50px 0px;
    background-color: rgba(36, 35, 35, 0.897);
    opacity: 0.8;
    position: relative;
    color: #fff;
    cursor: pointer;
}

.input-header input:hover {
    border: 1px solid green !important;
}

.search {
    margin-top: 105px;
    font-size: 16px;
    position: absolute;
    margin-left: -240px;
}

article {
    display: inline-block;
    margin: 0px 20px 0px 40px ;
    cursor: pointer;
    transition:all 0.4s ease;
}

article:last-child {
    margin-bottom: 60px;
} 

article:hover {
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.2);
    border: 1px solid white;
    
}

article strong {
    color: white;
    font-size: 12px;
}

article img {
    width: 230px;
    height: 280px;
}

article .rodape-info {
    background-color: rgba(128, 128, 128, 0.699);
    opacity: 0.7;
    max-width: 240px;
    height: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

article .rodape-info .trailer {
    text-decoration: none;
    color: #fff;
} 

li, ul {
    color: white;
}

  
.spinner {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
  margin: auto;
  text-align: center;
}   
  
.loading {
    width: 30px;
    height: 30px;
    background-color: #e32636;
    border-radius: 50%;
    display: inline-block;
    animation: motion 3s ease-in-out infinite;
}  

.messege {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.messege p {
  color: white;
  margin-top: 50px;
  letter-spacing: 3px;
  font-size: 15px;
  animation: animate 2.5s linear infinite;
  text-align: center;
}    

@keyframes motion {
  0% {
    transform: translateX(0) scale(1)
  }
  25% {
    transform: translateX(-50px) scale(0.3)
  }
  50% {
    transform: translateX(0) scale(1)
  }
  75% {
    transform: translateX(50px) scale(0.3)
  }
  100% {
    transform: translateX(0) scale(1)
  }
    
} 

@keyframes animate {
    

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

